.env
.venv
*.egg-info
__pycache__
**/__pycache__/
.DS_Store
**/.DS_Store
*.ipynb_checkpoints
.pytest_cache
*.ipynb
.coverage
dist/
build/
*.egg
*.pyc

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cursor/
.claude/
.tldrignore
.tldr/
